body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    /* Initial color */
    animation: pulseBackground 10s infinite alternate;
    display: flex;
    align-items: center;
    height: 1050px;
    text-align: center;
    background-image: linear-gradient(45deg, rgba(255, 215, 0, 0.5), rgba(211, 190, 72, 0.8), rgba(236, 231, 203, 0.5));
    /* Metallic gold gradient */
    background-size: 400% 400%;
    /* Larger background size for animation */
    animation-name: shimmer;
    /* Start shimmer animation */
    animation-duration: 2s;
    /* Shimmer animation duration */
    animation-timing-function: ease-in-out;
    /* Shimmer animation timing function */
    animation-iteration-count: infinite;
    /* Shimmer animation iteration count */
}

@keyframes shimmer {
    0% {
        background-position: 0% 50%;
        /* Start position for shimmer animation */
    }
    100% {
        background-position: 100% 50%;
        /* End position for shimmer animation */
    }
}


/* Neon sign effect */

.neon-sign {
    font-size: 36px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px #00fff0, 0 0 20px #00fff0, 0 0 30px #00fff0, 0 0 40px #00fff0, 0 0 50px #00fff0, 0 0 60px #00fff0, 0 0 70px #00fff0;
    animation: neon-flicker 1.5s infinite alternate;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes neon-flicker {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

.container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 300px;
    transition: all 0.3s ease;
    margin-top: 140px;
}

.year-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
    width: 90%;
    max-width: 300px;
    margin-top: 150px;
    margin-left: 300px;
    padding: 20px;
    text-align: center
}

.price-display {
    margin: 20px 0;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.gold-icon {
    width: 50px;
    margin-bottom: 20px;
}

.gold-info-container {
    font-size: 20px;
    font-weight: bold;
}

@keyframes animate {
    0% {
        filter: blur(1px);
        opacity: 5.3;
    }
    50% {
        filter: blur(0.5px);
        opacity: 3.6;
    }
    75% {
        filter: blur(0px);
        opacity: 1.3;
    }
    100% {
        filter: blur(0px);
        opacity: 7.3;
    }
}

h2 {
    font-size: 26px;
}


/* Additional styles for the quotes */

.quote-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-top: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
}

.quote {
    font-style: italic;
    margin-bottom: 10px;
    color: #f31c6e;
    word-wrap: break-word;
}


/* For mobile view */

@media only screen and (max-width: 767px) {
    .neon-sign {
        top: 20px;
        font-size: 28px;
        /* Adjust the font size as needed */
    }
    .container {
        width: 90%;
        max-width: 90%;
        margin: 20px auto;
    }
    .year-container {
        width: 90%;
        max-width: 90%;
        margin: 20px auto;
    }
    .container {
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 300px;
        margin-top: 200px;
    }
    .year-container {
        padding: 20px;
        border-radius: 15px;
        margin-top: 20px;
        text-align: center;
        margin-top: 430px;
        margin-left: 200px;
        width: 300px;
    }
    .quote-container {
        padding: 10px;
    }
}
